body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 13px;
}

button {
  font-size: 13px;
}

form {
  display: contents;
}

/* https://stackoverflow.com/questions/44543157/how-to-hide-the-google-invisible-recaptcha-badge */
.grecaptcha-badge {
  visibility: hidden !important;
}

html[lang="fa"] input:not([placeholder]="email") {
  direction: rtl;
}
html[lang="fa"] div[contenteditable=true] {
  direction: rtl;
}
html[lang="fa"] input, html[lang="fa"] textarea {
  direction: rtl;
}
html[lang="fa"] .modal-backdrop,
html[lang="fa"] .StyledTd,
html[lang="fa"] .StyledShowPageSummaryCard {
  direction: rtl;
}
html[lang="fa"] input[type="email"],
html[lang="fa"] input[placeholder="Email"],
html[lang="fa"] input[type="password"] {
  direction: ltr;
}
html[lang="fa"],
html[lang="fa"] * {
  font-family: Vazirmatn, sans-serif;
}